<style>
p {
  font-size: 18px;
}
</style>
<h3 class="text-muted">Hello everyone. Welcome to my blog.</h3>
<button type="button" class="btn btn-primary">About me</button>
<p class="text-info", font-size="18px">
My name is Kylin, I'm 12 years old.
<br>
I'm from Shenzhen. I'm tall and thin.
<br>
I have black hair.
<br>
My Mum is a buyer. My Dad is an engineer.
<br>
</p>
<button type="button" class="btn btn-primary">About my school and my hobbies</button>
<p class="text-info">
Every day, I go to school on foot.
<br>
My favourite subjects are Maths, English and Chinese.
<br>
I like my school because the teachers are all very friendly.
<br>
I like many sports. I'm good at swimming and playing tennis.
<br>
These are my favourite hobbies.
</p>
<br>
<hr>
<p class="text-center text-danger">
I want to make friends with young people from
<br>
all over the world! Email me, please!
</p>
